################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Elfo.Console.SAP.XMLtoXSLX/FileContentIndex
